<div class="my-component">
    This component is defined in the <strong>BlazorApp.UI.Library</strong> library. 
    <button class="btn btn-primary" />
</div>

@code {
    [Parameter]
    public string CompName { get; set; }
}